project/local.properties
project/bin
project/gen
project/libs


.svn/
.settings/
bin/
gen/
obj/
libs/
*.obj
Debug/
*.user
*.suo
jni/sdl/lib
.DS_Store
jni/sdlpal/Pal_iOS/Pal_iOS.xcodeproj/xcuserdata/wangjiatc.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
jni/sdlpal/Pal_iOS/Pal_iOS.xcodeproj/project.xcworkspace/xcuserdata/wangjiatc.xcuserdatad/UserInterfaceState.xcuserstate
jni/SDL/.hg/
jni/sdl/.hgignore
jni/sdl/.hg/cache/branchheads