<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>checkkeys.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>loopwav.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>testaudioinfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>testdraw2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>testerror.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>testfile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>testgesture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>testgles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>testiconv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>testjoystick.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>testkeys.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>testlock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>testplatform.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>testpower.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>testrendertarget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>testscale.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>testsem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>testsprite2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>testthread.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>testtimer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>testver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>testwm2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>torturethread.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>046CEF7513254F23007AD51D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047A63DD13285C3200CD7973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56ED04FC118A8FE400A56AA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAE7DEDA14CBB1E100DF1A0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAE7DF9E14CBB54E00DF1A0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDA8AAAA0E2D330F00EA573E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDAAC3BB0E2D47E6001DB1D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDAAC58A0E2D5429001DB1D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDAAC5B80E2D55B5001DB1D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDAAC6150E2D5914001DB1D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDC42FEF0F0D866D009C87E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD2C0F90E2E4F4B00B7A85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD2C1700E2E52C000B7A85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD2C1930E2E534F00B7A85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD2C44D0E2E773800B7A85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD2C46B0E2E77D700B7A85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD2C4F90E2E7F4800B7A85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD2C5170E2E807600B7A85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD2C53D0E2E80E400B7A85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD2C5740E2E8C7400B7A85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD2C5B30E2E8CFC00B7A85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD2C6E20E2E959E00B7A85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
